.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.jumbotron-ip {
  background: url('/images/matrix.jpeg');
  background-position: center 65%;
  background-size: cover;
}

body {
  background: url('/images/ice-age.png');
  background-color: white;

}
